html, body {
  min-height: 100vh;
  text-align: left;
  font-family: "Montserrat", sans-serif; 
  font-size: 22px;
  font-weight: 400;
  color: #373d39;
  text-align: left;
}

.progressbar, .progressbar2 {
  background-color: rgb(204, 204, 204);
  border-radius: 15px;
  margin-left: 27%;
  margin-right: 30%;
  font-size: 10px;
}

.progressbar>div {
  background-color: #2d9e97c7;
  width: 60%;
  height: 10px;
  border-radius: 18px;
  text-align: center;
}

.progressbar2>div {
  background-color: #2d9e97c7;
  width: 30%;
  height: 10px;
  border-radius: 18px;
  margin-right: 20%;
  text-align: center;
}

.grid-container {
  background: #2a3053;
  display: grid;
  gap: 10px 10px;
  padding-left: 20px;
  padding-top: 20px;
  grid-template-columns: auto auto;
  margin-left: 25%;
  margin-right: 27%;
}

.grid-item {
  color: white;
  background-color: rgb(179, 179, 179);
  padding: 20px;
  height: 230px;
  width: 230px;
  font-size: 15px;
  text-align: center;
}

.item5 {
  grid-area: 3 / 1 / span 6 / span 2;
  background-color: #2d9e97c7;
  margin-right: 25px;
  margin-left: 5px;
  text-align: center;
  border-radius: 6px;
  height: 120px;
  width: 560px;
}

.all{
  position: relative;
}

.html{
  position: absolute;
  margin-left: 35%;
  margin-top: 1141px;
  top: 0;
  left: 0;
}

.up{
  padding-bottom: 4px;
}

.coluna{
  display: inline-block;
  width: 30%;
}

.insta{
  width: 80%;
  font-size: 10px;
  margin-left: 20px;
  margin-top: 30px;
}

.whyyouhireme{
  margin-left: 27%;
  padding-top: 50px;
  margin-bottom: 0px;
  font-size: 36px;
  color: #2a3053;
  font-weight: 700;
}

.contato{
  margin-top: 10px;
  font-size: 26px;
  color: #2a3053;
  font-weight: 700;
}

.divisao{
  height: 1.5px;
  margin-bottom: 50px;
}

.hiretext{
  margin-left: 27%;
  margin-bottom: 20px;
  color: grey;
}

.space{
  height: 70px;
}

body {
  display: grid;
  height: 100vh;  
}

button{
  border-style: none;
  font-family: "Montserrat", sans-serif; 
  text-align: center;
  background-color: #4ab292;
  border-radius: 06px; 
  width: 250px;
  height: 40px;
  margin: 05px;
  padding: 05px;
  font-size: 13px;
  margin-left: 27%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu{
  margin-left: 0;
  width: 200px;
}

.img{
  text-align: center;
}

img{
  width: 20%;
}

.pad{
  margin-left: 27%;
  margin-right: 27%;
  line-height: 1.2;
  margin-top: 15px;
}

.a{
  color: white; 
  text-decoration: none;
}

#como{
  color: #4b425b;
  font-weight: 400;
  font-size: 16px;
  transform: scaleY(1.1);
  text-align: left;
  font-weight: 600;
  color: #939ca8;
  margin-left: 27%;
  font-size: 13px;
  margin-top: 20px;
}

#ola{
  margin-right: 27%;
  margin-left: 27%;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 19px;
  padding-top: 20px;
  margin-bottom: -2px;
  text-align: left;
  color: #2d9e97c7;
  font-weight: 600;
}

#prof{
  letter-spacing: 6px;
  color: #4b425b;
  font-weight: 400;
  font-size: 16px;
  transform: scaleY(1.1);
  margin-top: 15px;
}

#enzo{
  color: #2a3053;
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
  line-height: initial;
  font-size: 34px;
  margin-top: 15px;
}

@media (max-width: 600px){

  .progressbar>div {
    width: 80%;
  }
  
  .progressbar2>div {
    width: 50%;
  }
  
  .grid-container {
    display: flex;
    flex-direction: column;
  }
  
  .grid-item {
    height: 100%;
    width: 100%;
  }
  
  .item5 {
    height: 190px;
    width: 125%;
  }

  .coluna{
    display: block;
  }
  
  .whyyouhireme{
    font-size: 16px;
  }
  
  .contato{
    display: flex;
    flex-direction: column;
  }
  
  .hiretext{
    font-size: 14px;
    margin-left: 27%;
    margin-bottom: 20px;
    color: grey;
  }

  img{
    width: 80%;
    margin-left: 70%;
  }

  .img2{
    width: 20%;
    margin-left: 0;
  }

  .img3{
    width: 40%;
  }
}